<span class="pull-left"><%= button_to '+ Add Match', new_match_path, :class => 'btn btn-lg btn-default', :method => :get %></span>
<span class="pull-left margin-left-1"><%= button_to '+ Add Player', new_player_path, :class => 'btn btn-lg btn-default', :method => :get %></span>