<nav class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to root_path do %>
        <span class="navbar-brand condosmash-brand">Condosmash Rankings</span>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Matches</a></li>
        <li><a href="#">Players</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</nav>