<nav class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <span class="navbar-brand">
        Condosmash Rankings
      </span>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Matches</a></li>
        <li><a href="#">Players</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</nav>