<nav class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <span class="navbar-brand">
        Condosmash Rankings
      </span>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Matches</a></li>
        <li><a href="#">Players</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <%= render 'recent_matches_table' %>
    </div>
    <div class="col-lg-9 col-lg-offset-1">
      <%= render 'rankings_table' %>
    </div>
  </div>
</div>