<% if @recent_matches.size > 0 %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <%= render 'shared/add_matches_and_players_actions' %>
      </div>
    </div>

    <div class="row margin-top-2">
      <%= render 'last_match_info' %>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <%= render 'recent_matches' %>
      </div>
      <div class="col-lg-9 col-lg-offset-1">
        <%= render 'player_rankings' %>
      </div>
    </div>
  </div>
<% end %>