<%= render '/shared/navbar' %>

<% if @recent_matches.size > 0 %>
  <%= render 'last_match_info' %>

  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <%= render 'recent_matches_table' %>
      </div>
      <div class="col-lg-9 col-lg-offset-1">
        <%= render 'rankings_table' %>
      </div>
    </div>
  </div>
<% end %>